<%= render "partial/navbar" %>

<h1>Clubs#show</h1>
<p>Find me in app/views/clubs/show.html.erb</p>
<div><%= @club.nom %></div>
<div><%= @club.cp %></div>
<div><%= @club.ville %></div>
<div><%= @club.adresse %></div>
<div><%= @club.description %></div>