<%= render "partial/navbar" %>

<div class="register-wrapper">
  <div class="page-content">
    <h2>Inscription</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="row">
          <div class="col-md-4">
            <div class="field-register">
              <%= f.text_field :nom, class: 'form-control', placeholder: 'Nom' %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.text_field :prenom, class: 'form-control', placeholder: 'Prénom' %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Mot de passe' %>
              <% if @validatable %>
                  <span class="help-block"><%= @minimum_password_length %> characters minimum</span>
              <% end %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirmation du mot de passe' %>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <%= f.date_field :age, class: 'form-control', placeholder: 'date de naissance' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="field-register">
              <%= f.text_field :ville, class: 'form-control', placeholder: 'Ville' %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.text_field :cp, class: 'form-control', placeholder: 'code postal' %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.radio_button :genre, 'Homme', :checked => true %> <%= label :genre_homme, 'Homme' %>
              <%= f.radio_button :genre, 'Femme' %> <%= label :genre_femme, 'Femme' %>
            </div>
          </div>
        </div>
        <%= f.submit "Sign up", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
