<%= render "partial/navbar" %>

<div class="register-wrapper">
  <div class="page-content">
    <h2>Inscription</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
          <div class="row">
          <div class="col-md-12">
            <div class="avatar-container">
              <% if f.object.avatar.present? %>
                  <%= image_tag(f.object.avatar, size: '150x150', alt: 'Your upload jacket', class: 'img-thumbnail avatar-register', id: "img_preview") %>
              <% else %>
                  <%= image_tag('jacket-default', size: '150x150', alt: 'Your upload jacket', class: 'img-thumbnail avatar-register', id: "img_preview") %>
              <% end %>
              <%= f.label :Importer_votre_avatar_ici %>
              <%= f.file_field :avatar, id: "avatar-upload" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <%= f.text_field :nom, class: 'form-control form-register', placeholder: 'Nom du club' %>
          </div>
          <div class="col-md-3">
            <%= f.text_field :ville, class: 'form-control form-register', placeholder: 'Nom de la ville' %>
          </div>
          <div class="col-md-3">
            <%= f.text_field :cp, class: 'form-control form-register', placeholder: 'Code Postal' %>
          </div>
          <div class="col-md-3">
            <%= f.text_field :adresse, class: 'form-control', placeholder: 'adresse, exemple : 81 rue Jean Rostand' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <%= f.text_field :telephone, class: 'form-control', placeholder: '06 45 57 23 64' %>
          </div>
          <div class="col-md-3">
            <%= f.email_field :email, class: 'form-control form-register', placeholder: 'Email' %>
          </div>
          <div class="col-md-3">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Mot de passe' %>
            <% if @validatable %>
                <span class="help-block"><%= @minimum_password_length %> characters minimum</span>
            <% end %>
          </div>
          <div class="col-md-3">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirmation du mot de passe' %>
          </div>
        </div>
        <%= f.submit "Inscription", class: 'submit' %>
    <% end %>
    <%- if controller_name != 'sessions' %>
        <%= link_to "Déjà un compte ? Connectez vous", new_session_path(resource_name), class: 'to_login' %><br />
    <% end -%>
  </div>
</div>
