<%= render 'partial/navbar' %>

<div class="page-wrapper" style="height:100%">
  <div class="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
      <% @users.each do |user| %>
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="search-profile">
            <div class="col-md-6 col-sm-12">
                <% if user.avatar.present? %>
                  <%= image_tag(user.avatar, alt: 'Your upload jacket', style: "width:100%") %>
                <% else %>
                  <%= image_tag('jacket-default', alt: 'Your upload jacket') %>
                <% end %>
              <%= link_to 'Consulter', users_find_profile_path(user) %>
            </div>
            <div class="col-md-6 col-sm-12">
              <h1><%= user.nom %> <%= user.prenom %></h1>
              <h2>@<%= user.pseudo %></h2>

              <span><%= user.genre %></span>
              <span><%= user.calcAge %> ans</span>
              <span><%= user.ville %> <%= user.cp %></span>
              <span><%= user.tennislevel %></span>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>