<%= render 'partial/navbar' %>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="divone">
          <h1>Bienvenue!</h1>
          <h3>Votre partenaire de jeu n'attend que vous</h3>
          <p>
            <%# <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
            <% if !user_signed_in? %>
              <%= link_to 'CONNEXION', choice_connection_path, class: 'btn btn-primary btn-lg' %>
            <% end %>
            <%= link_to "DÉCOUVRIR", "/discover", class: 'btn btn-primary btn-lg' %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="presentation trapese">
        <p class="introduction">
        <h3 class="titleorange">Qu'est-ce que O'tennis ?</h3>
        Avec O’Tennis, trouvez un partenaire de tennis de même niveau que vous ! Nous utilisons un algorithme <br>
        mathématique sophistiqué pour dénicher votre homologue du tennis autour de vous.<br> En l’espace de 5 minutes
        chrono planifiez votre rencontre, trouvez un terrain et réservez le. Jeu, set et match !
        </p>
      </div>
    </div>
  </div>
</div>



<%= render 'partial/footer' %>