<header>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    <!-- LOGO -->
    </div>
    <ul class="nav navbar-nav">
        <li><%= link_to 'Accueil', root_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to 'Profil', profile_path %></li>
          <li><%= link_to 'Deconnexion', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "Découvrir", "/discover" %></li>
      </ul>
        <% else %>
          <li><%= link_to 'Connexion', new_user_session_path %></li>
          <li><%= link_to 'Inscription', new_user_registration_path %></li>

          <li><%= link_to "Decouvrir", "/discover" %></li>
        <% end %>
      </ul>
  </div>
</nav>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




</header>